* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: var(--texto);
    padding: 20px;
  }

  header {
    background-color: var(--verde-claro);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid var(--verde-claro);
    border-radius: 10px;
    background-color: #fff;
  }

  h1, h2 {
    color: #2e7d32;
  }

  footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
    color: #777;
  }